<div class="chat-container mb-4">
  <h1 class="text-center text-white py-2">Messages</h1>
  <div class="chat-logs p-4 text-white rounded-2">
    <div>
      <h4 id="user"></h4>
      <input type="text" id="chatBox" class="chat-input mb-4" />
    </div>
    <div id="messagesLogs"></div>
  </div>
</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>